<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
>
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>

<header>BLOG</header>

<main>
    <p class="lead">All posts </p>
    <form >
        <a th:href="@{/addPost}" class="btn btn-primary" style="background-color:#3D0000; margin-left:47.5%;border: #F9F3DF;">Add Post</a >
    </form>
    <div th:each="post : ${appUser.posts}" style="border-style: solid;border-radius: 15px;border-width: medium; width:50%;text-align:center;margin-left:47%;margin-bottom:2%;">
        <div >
            <div >
                <p ><span th:text="${post.body}"></span></p>
                <p >Created at: <span th:text="${post.createdAt}"></span></p>
                <form >
                    <a th:href="'/edit/' + ${id}" class="btn btn-primary" style="background-color:#3D0000; margin-left:47.5%;border: #F9F3DF;">Edit</a >
                </form>
                <form >
                    <a th:href="'/delete/' + ${id}" class="btn btn-primary" style="background-color:#3D0000; margin-left:47.5%;border: #F9F3DF;">Delete</a >
                </form>
            </div>
        </div>

    </div>


</main>

</body>
</html>