<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:schemaLocation="http://www.thymeleaf.org/extras/spring-security ">
<link
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
>
<link rel="stylesheet" href="/reviewCss/review.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />

<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
</head>
<body>
<header>
    <div >
        <a th:href="@{/}" style="font-size:35px;color:white;float:right;margin-top:-300px;margin-right:-950px" >
            <i class="fa fa-home"   ></i>
        </a>
    </div>

</header>
<main>
<!--    <p class="lead">All Reviews </p>-->
<!--    <form >-->
<!--        <a th:href="@{/addReview}" class="btn btn-primary" style="background-color:#3D0000; margin-left:47.5%;border: #F9F3DF;">Add Review</a >-->
<!--    </form>-->
<!--    <div th:each="review : ${reviews}" style="border-style: solid;border-radius: 15px;border-width: medium; width:50%;text-align:center;margin-left:47%;margin-bottom:2%;">-->
<!--            <div >-->
<!--                <p ><span th:text="${review.body}"></span></p>-->
<!--                <p >Created at: <span th:text="${review.createdAt}"></span></p>-->

<!--                <div sec:authorize="hasAnyRole('ADMIN')">-->
<!--                    <a th:href="@{|/deleteReview/${review.id}|}">Delete</a>-->
<!--                </div>-->
<!--                -->
<!--            </div>-->

<!--    </div>-->

    <div class="review-container">
        <div>
            <h2>Reviews</h2>
            <a class="btn" th:href="@{/addReview}" style="float:right;margin-top:-85px;margin-left:300px">
                <i class="far fa-comment-dots" style="color:white; font-size:25px" ></i>
                Add
            </a>

        </div>

        <div class="cards" th:each="review : ${reviews}" th:object="${user}">
            <div class="card">
                <div class="card-top">
                    <div class="name">
                        <i class="far fa-user" style="font-size:35px"  ></i>
                        <p th:text="${review.user.username}" ></p>
                    </div>
                    <div class="rate">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>

                <div class="card-content">
                    <p th:text="${review.timeNow}" class="card-text"></p>
                    <p th:text="${review.body}" style="font-size:17px"></p>
                </div>
                <div sec:authorize="hasAnyRole('ADMIN')" >
                    <a th:href="@{|/deleteReview/${review.id}|}">Delete</a>
                </div>



            </div>

        </div>


    </div>

</main>

</body>
</html>