<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
>
<link rel="stylesheet" href="/reviewCss/review.css">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>

<header>Reviews</header>

<main>
    <p class="lead">All Reviews </p>
    <form >
        <a th:href="@{/addReview}" class="btn btn-primary" style="background-color:#3D0000; margin-left:47.5%;border: #F9F3DF;">Add Review</a >
    </form>
    <div th:each="review : ${reviews}" style="border-style: solid;border-radius: 15px;border-width: medium; width:50%;text-align:center;margin-left:47%;margin-bottom:2%;">
            <div >
                <p ><span th:text="${review.body}"></span></p>
                <p >Created at: <span th:text="${review.createdAt}"></span></p>

                <div sec:authorize="hasAnyRole('ADMIN')">
                    <a th:href="@{|/deleteReview/${review.id}|}">Delete</a>
                </div>

                <!--                <div class="rating">-->

<!--                    <input type="radio" name="rating" id="r1">-->
<!--                    <label for="r1"></label>-->

<!--                    <input type="radio" name="rating" id="r2">-->
<!--                    <label for="r2"></label>-->

<!--                    <input type="radio" name="rating" id="r3">-->
<!--                    <label for="r3"></label>-->

<!--                    <input type="radio" name="rating" id="r4">-->
<!--                    <label for="r4"></label>-->

<!--                    <input type="radio" name="rating" id="r5">-->
<!--                    <label for="r5"></label>-->

<!--                </div>-->
<!--                <form >-->
<!--                    <a th:href="'/blog/edit/' + ${id}" class="btn btn-primary" style="background-color:#3D0000; margin-left:47.5%;border: #F9F3DF;">Edit</a >-->
<!--                </form>-->
<!--                <form >-->
<!--                    <a th:href="'/blog/delete/' + ${id}" class="btn btn-primary" style="background-color:#3D0000; margin-left:47.5%;border: #F9F3DF;">Delete</a >-->
<!--                </form>-->
            </div>

    </div>


</main>

</body>
</html>