<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> ADD YOUR FEEDS </h1>
<form method="POST" th:action="@{/feeds}">

    <h3>Add new post here </h3>
    <div><label for="feeds"> Write Your Feed :  <input id="feeds" name="feeds" type="text"></label></div>
    <div><label for="image"> Share Your Image :  <input id="image" name="image" type="text"></label></div>
    <div><input type="submit" value="Submit"/></div>

</form>
</body>
</html>