<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/updateFeed.css}" type="text/css" media="screen">
</head>
<body>
<form method="POST" th:object="${workShopFeeds}" th:action="@{/shop-update/{id}(id=${workShopFeeds.id})}">

    <input name="image" placeholder="Share Your Image" class="name" required id="image" type="text"
           th:field="*{image}"/>
    <textarea rows="4" cols="50" name="feeds" placeholder="Share Your Feeds" class="message" required id="feeds"
              type="text" th:field="*{feeds}"></textarea>
    <input name="submit" class="btn" type="submit" value="SEND"/>
</form>
</body>
</html>
