
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >


<head>
  <link rel="stylesheet" href="shopProfile.css" type="text/css" media="screen">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

  <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="box">
  <div id="overlay">
    <div class="image">
      <div class="trick">
      </div>
    </div>
    <form th:action="@{/feeds}" method="get">
      <h1 class="text" th:text="${workShop.username}"></h1>
      <p th:text="${workShop.shopName}" class="text1"></p>
      <p th:text="${workShop.category}" class="text1"></p>
      <p th:text="${workShop.location}" class="text1"></p>
<!--      <button class="title  btn btn-danger btn-outline btn-lg" type="submit" th:name="action" th:value="in">Add Feed</button>-->
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading " role="tab" id="headingOne">
            <h4 class="panel-title ">
              <a role="button" data-toggle="collapse"  type="submit" th:name="action" th:value="in">
                <div  class="title  btn btn-danger btn-outline btn-lg">ADD FEED</div>
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              Walter has been building websites for years. He enjoys making unique websites and web projects. His hobbies include photography, woodworking, leatherworking, fishing, and mid century modern furniture.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div class="title btn btn-danger btn-outline btn-lg">SOCIAL</div>
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              Walter has been building websites for years. He enjoys making unique websites and web projects. His hobbies include photography, woodworking, leatherworking, fishing, and mid century modern furniture.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <div class="title btn btn-danger btn-outline btn-lg">CONTACT</div>
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <form id="form" class="topBefore">
                <input id="name" type="text" placeholder="NAME">
                <input id="email" type="text" placeholder="E-MAIL">
                <textarea id="message" type="text" placeholder="MESSAGE"></textarea>
                <input id="submit" type="submit" value="Submit Now!">
              </form>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>