<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/sign.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="resources/static/contract.css">
    <link rel="stylesheet" href="rentcss/bootstrap.min.css">
    <link rel="stylesheet" href="rentcss/bootstrap-datepicker.css">
    <link rel="stylesheet" href="rentcss/jquery.fancybox.min.css">
    <link rel="stylesheet" href="rentcss/owl.carousel.min.css">
    <link rel="stylesheet" href="rentcss/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/rentcss/contract.css">


</head>
<body>
<header>
    <nav>
        <div class="logo">
            <h3>House Of Cars</h3>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/index.html">Home</a>
            </li>
            <li>
                <a href="/pages/ourservices.html" class="za">Our Services</a>
                <ul class="drop-list">
                    <li class="zz"><a href="/pages/engine.html">ENGINE SERVICES</a></li>
                    <li class="zz"><a href="/pages/batteries.html">BATTERIES</a></li>
                    <li class="zz"><a href="/pages/breaks.html">BREAKS</a></li>
                    <li class="zz"><a href="/pages/oil.html">OIL & FILTER CHANGE</a></li>
                    <li class="zz"><a href="/pages/ac.html">AC SERVICES</a></li>
                    <li class="zz"><a href="/pages/exhaust.html">EXHAUST SYSTEM</a></li>
                </ul>
            </li>
            <li>
                <a href="/pages/rent.html">Rent</a>
            </li>
            <li>
                <a href="/pages/aboutus.html">About Us</a>
            </li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</header>
<main>
    <body>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet" type="text/css">
    <html>
    <body style="background-color: whitesmoke;margin-top: 100px;">
    <header id="header">
    </header>
    <p id="description" style="text-align: center;   font-family: 'Work Sans';">
        Please answer our Rent Contract.
    </p>
    <div id="frame">
        <form id="survey-form">
            <div class="surveyitem">
                <div class="leftrow">
                    <label id="name-label" class="right" for="name">* Full Name :</label>
                </div>
                <div class="rightrow">
                    <input id="name" name="name" class ="left" type="text" placeholder="Name" style="font-size: 20px;" required>
                </div>
            </div>
            <br>
            <div class="surveyitem">
                <div class="leftrow">
                    <label id="email-label" class="right" for="email">* Email Address :</label>
                </div>
                <div class="rightrow">
                    <div class="rightcontent">
                        <input id="email" name="email" class="left" type="email" placeholder="Email Address" style="font-size: 20px;"required>
                    </div>
                </div>
            </div>
            <br>
            <div class="surveyitem">
                <div class="leftrow">
                    <label id="number-label" class="right" for="number">* Age :</label>
                </div>
                <div class="rightrow">
                    <input id="number" name="age" type="number" class="left" style="font-size: 20px;" placeholder="18" min="18" max="99" required>
                </div>
            </div>
            <br>
            <div class="surveyitem">
                <div class="leftrow">
                    <label class="right" for="dropdown">* Gender :</label>
                </div>
                <div class="rightrow">
                    <select id="dropdown" class="left"  style="font-size: 20px;"required>
                        <option value="noselection" selected disabled>Choose one</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="prefnotsay">Prefer not to say</option>
                    </select>
                </div>
            </div>
            <br>
            <p>
                The House of Cars family wishes you a comfortable and enjoyable drive, We will leave you some tips for a safe driving .
            <h1>
                - Stay committed to the seat belt in order to preserve your safety from any sudden damage.
            </h1>
            <h1>
                - Stick to the specified street speed.
            </h1>
            </p>
            <br>
            <div class="surveyitem">
                <div class="leftrow">
                    <label for="cartype" class="right">* Please Select which kind of car you chose</label>
                </div>
                <div class="rightrow">
                    <fieldset id="cartype">
                        <input id="Kia Rio3" type="radio" name="cartype" value="Kia Rio3" style="margin-right: 10px; margin-bottom: 15px;"><label for="Kia Rio 3" class="radioalign" style="font-size: 100%;">Kia Rio 3</label><br>
                        <input id="Honda Civic" type="radio" name="cartype" value="Honda Civic" style="margin-right: 10px; margin-bottom: 15px;"><label for="Honda Civic" class="radioalign" style="font-size: 100%;">Honda Civic</label><br>
                        <input id="Renault Clio" type="radio" name="cartype" value="Renault Clio" style="margin-right: 10px; margin-bottom: 15px;"><label for="Renault Clio" class="radioalign" style="font-size: 100%;">Renault Clio</label><br>
                        <input id="Bmw" type="radio" name="cartype" value="Bmw" style="margin-right: 10px;"><label for="Bmw" class="radioalign" style="font-size: 100%;"> Bmw </label><br>
                        <input id="Kia Rio3" type="radio" name="cartype" value="Kia Rio3" style="margin-right: 10px; margin-bottom: 15px;"><label for="Kia Rio 3" class="radioalign" style="font-size: 100%;">mercedes</label><br>
                        <input id="Kia Rio3" type="radio" name="cartype" value="Kia Rio3" style="margin-right: 10px; margin-bottom: 15px;"><label for="Kia Rio 3" class="radioalign" style="font-size: 100%;">Camry</label><br>
                        <input id="Kia Rio3" type="radio" name="cartype" value="Kia Rio3" style="margin-right: 10px; margin-bottom: 15px;"><label for="Kia Rio 3" class="radioalign" style="font-size: 100%;">Susiki</label><br>
                        <input id="Kia Rio3" type="radio" name="cartype" value="Kia Rio3" style="margin-right: 10px; margin-bottom: 15px;"><label for="Kia Rio 3" class="radioalign" style="font-size: 100%;">100</label><br><input id="Kia Rio3" type="radio" name="cartype" value="Kia Rio3" style="margin-right: 10px; margin-bottom: 15px;"><label for="Kia Rio 3" class="radioalign" style="font-size: 100%;">Kia Rio 3</label><br>
                    </fieldset>
                </div>
            </div>
            <br>
            <div class="surveyitem">
                <div class="leftrow">
                    <label for="activities">What kind of activities you are gonna use it for?</label>
                </div>
                <div class="rightrow">
                    <ul id="activities" style="list-style: none;">
                        <li><input id="carpooling" type="checkbox" name="activities" value="carpooling"><label for="carpooling">Carpooling</label></li>
                        <li><input id="vacation" type="checkbox" name="activities" value="vacation"><label for="vacation" class="radioalign">Vacation</label></li>
                        <li><input id="offroad" type="checkbox" name="activities" value="offroad"><label for="offroad" class="radioalign">Off-road driving</label></li>
                        <li><input id="racing" type="checkbox" name="activities" value="racing"><label for="racing" class="radioalign">Racing</label></li>
                        <li><input id="groceryshopping" type="checkbox" name="activities" value="groceryshopping"><label for="groceryshopping" class="radioalign">Grocery shopping</label></li>
                    </ul>
                </div>
                <br>
                <h1>
                    We want to mention that you will be responsible for each incident :
                </h1>
                <br>
                <h3>
                    - You will be responsible about the car during the rent date.
                    <br>
                    - We will make sure that the car don't have Traffic violations, and you will be responsible about them during the renting date.
                    <br>
                    - You are not allowed to drive the car while you are drunk or tired because the perception reaction time will be less than the average.
                    <br>
                    - If you faced any accident Call the Hotline 00962799025272 .
                    <br>
                    - We want to inform you that YOU are the ONLY responsible for accidents.
                </h3>
                <br>
            </div>
            <div class="surveyitem">
                <div class="leftrow">
                    <label for="textarea">Please describe anything you concern about</label>
                </div>
                <div class="rightrow textareafix">
                    <textarea placeholder="I really liked the way my car..." cols="500" rows="10"></textarea>
                </div>
            </div>
            <br>
            <div class="surveyitem">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Sign in the canvas below and save your signature as an image!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <canvas id="sig-canvas" width="620" height="160">
                                Get a better browser, bro.
                            </canvas>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary" id="sig-submitBtn">Submit Signature</button>
                            <button class="btn btn-default" id="sig-clearBtn">Clear Signature</button>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea id="sig-dataUrl" class="form-control" rows="5">Data URL for your signature will go here!</textarea>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <img id="sig-image" src="" alt="Your signature will go here!"/>
                        </div>
                    </div>
                </div>
                <div class="leftrow">
                    <input id="gdpr" type="checkbox" value="gdpr" required><label for="gdpr">I agree that on</label>
                </div>
            </div>
            <div class="surveyitem">
                <div class="leftrow">
                </div>
            </div>
            <button id="buto">Submit</button>
        </form>
    </div>
</main>
<footer id="footer">
</footer>
<br><br>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../js/sign.js"></script>
</body>
</html>