<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Service</title>
    <link rel="stylesheet" href="serviceCss/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="serviceCss/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="serviceCss/grid.css" type="text/css" media="screen">
    <link rel="stylesheet" href="serviceCss/prettyPhoto.css" type="text/css" media="screen">


        <link rel="stylesheet" href="serviceCss/ie.css" type="text/css" media="screen">


</head>

    <body id="page4">
    <div class="main-bg">
        <div class="bg">

            <section id="content">
                <div class="main">
                    <div class="container_12">
                        <div class="wrapper p4">
                            <article class="grid_4">
                                <div class="wrapper">
                                    <figure class="img-indent"><img src="images/page1-img1.png" alt="" ></figure>
                                    <div class="extra-wrap">
                                        <h4>Engine Repair</h4>
                                        <p class="p2">Your engine is a complex machine. Because of that, it is very important that you take your vehicle in for scheduled
                                            maintenance and any time your check engine lights comes on to ensure larger repairs are not needed</p>
<!--                                        <a class="button" href="#">Read More</a>-->
                                    </div>
                                </div>
                            </article>
                            <article class="grid_4">
                                <div class="wrapper">
                                    <figure class="img-indent"><img src="images/page1-img2.png" alt=""></figure>
                                    <div class="extra-wrap">
                                        <h4>Wheel Alignment</h4>
                                        <p class="p2">Is part of standard automobile maintenance that consists of adjusting the angles of wheels to the car manufacturer specifications.
                                            The purpose of these adjustments is to reduce tire wear and to ensure that vehicle travel is straight and true .</p>
<!--                                        <a class="button" href="#">Read More</a> -->
                                    </div>
                                </div>
                            </article>
                            <article class="grid_4">
                                <div class="wrapper">
                                    <figure class="img-indent"><img src="images/page1-img3.png" alt=""></figure>
                                    <div class="extra-wrap">
                                        <h4>Fluid Exchanges</h4>
                                        <p class="p2"> Replenishing and flushing vehicle fluids on a regular basis is crucial to your car’s overall performance.
                                        You have many chooses for fluid Engine Oil, Coolant , Transmission Fluid ,Brake Fluid and Power Steering Fluid</p>
<!--                                        <a class="button" href="#">Read More</a> -->
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="container-bot">
                            <div class="container-top">
                                <div class="container">
                                    <div class="wrapper">
                                        <article class="grid_8">
                                            <div class="indent-left">
                                                <h3>Repair Services</h3>
                                                <h6>WHEN YOU NEED COMPLETE CAR REPAIR FROM THE EXPERTS, TURN TO "FIRESTONE" .</h6>
                                                <p>We know how important a safe and reliable vehicle is to you and your family.
                                                    When you have car problems, it can be tough to know who you can trust. That’s exactly why we established this Website.</p>
                                                <div class="wrapper margin-bot">
                                                    <figure class="img-indent3"><img src="images/page4-img1.png" alt=""></figure>
                                                    <div class="extra-wrap">
                                                        <h6><strong>ENGINE REPAIR AND REPLACEMENT </strong></h6>
                                                        <p>Oil Changes: We recommend changing your oil every 3,000 miles when you use standard oil or 5,000 miles if you are using synthetic Mobil1</p>
                                                        <p>Engine Tune Up: Most engines these days come with platinum or iridium tipped spark plugs that have an expected life of up to 100,000 miles.</p>
                                                        <p>Water Pump: Every internal combustion engine running in today’s automobiles uses a water pump to circulate engine coolant anti freeze to keep it cool and within an acceptable temperature range</p>
<!--                                                        <a class="button" href="#">Read More</a> -->
                                                    </div>
                                                </div>
                                                <div class="wrapper indent-bot">
                                                    <figure class="img-indent3"><img src="images/page4-img2.png" alt=""></figure>
                                                    <div class="extra-wrap">
                                                        <h6><strong>WHEEL ALIGNMENT </strong></h6>
                                                        <p> A four wheel alignment consists of adjusting the suspension of your vehicle so that all wheels are parallel to each other and perpendicular to the ground.</p>
                                                        <p> Three primary angles contribute to proper wheel alignment: camber, caster, and toe. Camber is the measure of the degree of perpendicular offset from the road surface. Caster is the angle of your wheel’s pivot points
                                                            .Toe refers to the angle of directional difference between the tire and the centerline of the vehicle</p>

<!--                                                        <a class="button" href="#">Read More</a>-->
                                                    </div>
                                                </div>
                                                <div class="wrapper indent-bot">
                                                    <figure class="img-indent3"><img src="images/buttery.png" alt=""></figure>
                                                    <div class="extra-wrap">
                                                        <h6><strong>BATTERY CARE AND REPLACEMENT</strong></h6>
                                                        <p> signs tell you that the car battery may be dying: Clicking sound when turning the key or when pushing the button
                                                            ,Dim headlights ,Swollen battery case ,Check engine or battery light on dashboard illuminated ,Difficulty using electrical components
                                                            ,Wet areas on or around the battery ,Corrosion on and around the battery posts</p>
                                                        <p> SO HOW OFTEN DOES YOUR CAR BATTERY NEED TO BE REPLACED? You might be surprised to know that it’s roughly 3 to 4 years.
                                                            This is just the average and many batteries fail earlier and some even later.</p>

<!--                                                        <a class="button" href="#">Read More</a> -->
                                                    </div>
                                                </div>
                                                What is the Importance of Auto Repair Estimates?

                                                A repair estimate helps you understand what is going on with your vehicle and how much subsequent repairs will cost. Depending on the varying degree of repair need, all estimates differ.
                                                However, auto repair estimates are the best indication of what is going on with your car and the means necessary to repair it.  </div>
                                        </article>
                                        <article class="grid_4">
                                            <div class="indent-left2">
                                                <article class="grid_8">
                                                    <div class="indent-left2">
                                                        <div class="wrapper img-indent-bot">
<!--                                                            <figure class="img-indent3"><img src="images/buttery.png" alt=""></figure>-->
                                                            <div class="extra-wrap">
                                                                <p class="p1"></p><br><br>
                                                                <h6><strong>AIR FILTRATION </strong></h6>
                                                               </div>
                                                        </div>
                                                        <div class="wrapper img-indent-bot">
                                                            <div class="extra-wrap">
                                                                <figure class="img-indent3"><img src="images/air.png" alt=""></figure>
                                                            </div>
                                                        </div>
                                                        <div class="wrapper img-indent-bot">
                                                            <!--                                                            <figure class="img-indent3"><img src="images/buttery.png" alt=""></figure>-->
                                                            <div class="extra-wrap">
                                                                <p class="p1"></p><br><br>
                                                                <h6><strong>BELTS & HOSES</strong></h6>
                                                            </div>
                                                        </div>
                                                        <div class="wrapper img-indent-bot">
                                                            <div class="extra-wrap">
                                                                <figure class="img-indent3"><img src="images/belts.png" alt=""></figure>
                                                            </div>
                                                        </div>
                                                        <div class="wrapper img-indent-bot">
                                                            <!--                                                            <figure class="img-indent3"><img src="images/buttery.png" alt=""></figure>-->
                                                            <div class="extra-wrap">
                                                                <p class="p1"></p><br><br>
                                                                <h6><strong>BRAKE REPAIR</strong></h6>
                                                            </div>
                                                        </div>
                                                        <div class="wrapper img-indent-bot">
                                                            <div class="extra-wrap">
                                                                <figure class="img-indent3"><img src="images/brake.png" alt=""></figure>
                                                            </div>
                                                        </div>
                                                        <div class="wrapper img-indent-bot">
                                                            <!--                                                            <figure class="img-indent3"><img src="images/buttery.png" alt=""></figure>-->
                                                            <div class="extra-wrap">
                                                                <p class="p1"></p><br><br>
                                                                <h6><strong>CHECK ENGINE LIGHT</strong></h6>
                                                            </div>
                                                        </div>
                                                        <div class="wrapper img-indent-bot">
                                                            <div class="extra-wrap">
                                                                <figure class="img-indent3"><img src="images/ENGINE.png" alt=""></figure>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </article>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </body>

    </html>