<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:schemaLocation="http://www.thymeleaf.org/extras/spring-security ">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="webthemez">
    <title>Motor Car Wash Repair HTML5 Bootstrap Template</title>
	<!-- core CSS -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet"  href="/homeCss/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/homeCss/css/font-awesome.min.css" >
    <link rel="stylesheet" href="/homeCss/css/animate.min.css" >
    <link rel="stylesheet" href="/homeCss/css/prettyPhoto.css" >
    <link rel="stylesheet" href="/homeCss/css/styles.css" >

    <!--[if lt IE 9]>
    <script src="/homeCss/js/html5shiv.js"></script>
    <script src="/homeCss/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/homeCss/images/ico/favicon.ico">

</head> 

<body id="home">

    <header id="header">
        <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="/homeCss/images/logo.png" height="90px" width="130px" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="scroll active"><a href="#home">Home</a></li> 
                        <li class="scroll"><a href="#services">Services</a></li>
                        <li class="scroll"><a href="#about">About</a></li>
                        <li class="scroll"><a href="#portfolio">Gallery</a></li>
                        <li class="scroll"><a href="#our-team">Team</a></li>
                        <li class="scroll"><a href="#pricing">Pricing</a></li>
                        <li class="scroll"><a href="#contact-us">Contact</a></li>
<!--                            <div class="navbar">-->
<!--                                <div class="dropdown">-->
<!--                                    <button class="dropBtn">Signup</button>-->
<!--                                    <div class="dropdown-content">-->
<!--                                        <div class="line">-->
<!--                                            <a href="/User/register">As Customer</a>-->
<!--                                        </div>-->
<!--                                        <div class="line">-->
<!--                                            <a href="/shop-signup">As Workshop</a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->

    <section id="hero-banner">
             <div class="banner-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                 <br><br>
                                    <h2>Best Car Servicing</h2>
                                    <p>Safety comes first, that’s our car workshop’s motto. We want you and your family to have the drive of your life and that is why it is our car garage’s priority is to make your journey as smooth as possible</p>
                                    <div sec:authorize="isAuthenticated()">
                                        <a class="btn btn-primary btn-lg" href="/User/appointment">Book an appointment</a>
                                    </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
    </section><!--/#main-slider-->

	  
   
   <section id="services" >
        <div class="container">

            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Our Services</h2>
                <p class="wow fadeInDown">MAKING THE INDUSTRY BETTER BY MAKING A DIFFERENCE <br>
                    We'll always want to be different from the others by trying new approaches,<br>
                    simply because that's what an industry like ours needs to have to have an impact.
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fas fa-car-mechanic"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">mechanical</h4>
                                <p>Transmission gearbox require regular servicing to ensure that your auto transmission is running smoothly.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fad fa-tire-flat"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">wheels</h4>
                                <p>We make sure that your wheel is check to be safe for driving. We will also help you to do tyre rotation.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fas fa-cars"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Rent</h4>
                                <p>With a prepaid rental car, you will receive our Best Rate Guarantee. Which means that you don't will find a lower rate  on  other site</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fad fa-car-wash"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Car washing</h4>
                                <p>We love to shine cars. Book now to feel the experience, We use 100% original, With one year warranty </p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fas fa-car-battery"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">electrical</h4>
                                <p>Cars these days are as much electronics as they are mechanics. That is why we are skilled at both.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fad fa-screwdriver"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Spare parts</h4>
                                <p>As keeping a check on car servicing is crucial,you can find the hardest to procure spare parts in a jiffy in our website</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#services-->
 <section id="about">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title wow fadeInDown">About Us</h2>
                <p class="wow fadeInDown">We don’t just serve customers<br>
                    but business with fleet requirements as well</p>
            </div>

            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                  <img class="img-responsive" src="/homeCss/images/about.png" alt="">
                </div>

                <div class="col-sm-6 wow fadeInRight"> 
                    <p>Auto care is a automotive service provider that’s all about bringing revolutionary practices to a traditional industry. We can only be as good as the people that represent us, and our team is a mix of various talents who have a common motivation towards service excellence.</p>

                    <p>From minor maintenance to intensive diagnostics, repairs and replacement, Gold Autoworks professionals are ready to offer reliable, cost-effective & honest service with customers awareness and transparency as our TOP PRIORITIES.</p>

					<p>At Auto care, you can count on straightforward auto repair and our professionals dedicated to getting you back on the road as quickly and safely possible. We may not be the best in the market but we will always try to give our best gold service to our valued customers.</p>


                    <a class="btn btn-primary" href="#contact-us">Learn More</a>

                </div>
            </div>
        </div>
    </section><!--/#about-->


    <section id="portfolio">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Gallery</h2>
                <p class="wow fadeInDown">This is what differs us from our Competitor</p>
            </div>

            <div class="text-center" style="display:none">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All Works</a></li>
                    <li><a href="#" data-filter=".designing">Designing</a></li>
                    <li><a href="#" data-filter=".mobile">Mobile App</a></li>
                    <li><a href="#" data-filter=".development">Development</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">
                <div class="portfolio-item designing">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" style="display: block;max-width: 270px;height: 200px; width: 270px;"  src="http://motorsportscollisionexperts.com/images/7a.jpg" alt="" >
                        <div class="portfolio-info"> 
                            <a class="preview" href="http://motorsportscollisionexperts.com/images/7a.jpg" rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item mobile development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" style="display: block;max-width: 270px;height: 200px;width: 270px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEFa7S254dDVdGtI05NCKhtnEjn5__-7FJng&usqp=CAU" alt="">
                        <div class="portfolio-info"> 
                            <a class="preview" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEFa7S254dDVdGtI05NCKhtnEjn5__-7FJng&usqp=CAU" rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item mobile development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" style="display: block;max-width: 270px;height: 200px;width: 270px;" src="https://previews.123rf.com/images/suksao/suksao1310/suksao131000173/22888934-before-and-after-washing-the-car-clean.jpg" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="https://previews.123rf.com/images/suksao/suksao1310/suksao131000173/22888934-before-and-after-washing-the-car-clean.jpg" rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item mobile development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" style="display: block;max-width: 270px;height: 200px;width: 270px;" src="https://image.shutterstock.com/image-photo/car-door-before-after-washing-260nw-1707575944.jpg" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="https://image.shutterstock.com/image-photo/car-door-before-after-washing-260nw-1707575944.jpg" rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item mobile development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" style="display: block;max-width: 270px;height: 200px;width: 270px;" src="http://evergreencardetail.com/wp-content/uploads/2021/03/interior-auto-detailing-before-and-after.jpg" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="http://evergreencardetail.com/wp-content/uploads/2021/03/interior-auto-detailing-before-and-after.jpg" rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item mobile development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" style="display: block;max-width: 270px;height: 200px;width: 270px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAUymLNuTHQGl-eUzZFFbs5SBFdYR8i0p5Mw&usqp=CAU" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAUymLNuTHQGl-eUzZFFbs5SBFdYR8i0p5Mw&usqp=CAU" rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item mobile development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" style="display: block;max-width: 270px;height: 200px;width: 270px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8MeXZGWR-YloypgdVbS-JU5Lc0D5osCi_iWT15OgP-ywGBbbwQZU1VdGifJDEmKWNQww&usqp=CAU" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8MeXZGWR-YloypgdVbS-JU5Lc0D5osCi_iWT15OgP-ywGBbbwQZU1VdGifJDEmKWNQww&usqp=CAU" rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item mobile development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" style="display: block;max-width: 270px;height: 200px;width: 270px;" src="https://www.collisioncenterdelray.com/wp-content/uploads/2018/02/2017-dodge-challenger-hellcat-before-and-after-collision-center-of-delray-beach-florida.jpg" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="https://www.collisioncenterdelray.com/wp-content/uploads/2018/02/2017-dodge-challenger-hellcat-before-and-after-collision-center-of-delray-beach-florida.jpg" rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        </div><!--/.container-->
    </section><!--/#portfolio-->

   
   
    <section id="our-team">
        <div class="container" style="text-align:center">
            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Amazing Team</h2>
            </div>
			
			 	
            <div class="row text-center">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="team-img">
                            <img class="img-responsive" src="https://avatars.githubusercontent.com/u/83532111?v=4" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Naeem Al Omari</h3>
                            <span>Team Leader</span>
                        </div> 
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="team-img">
                            <img class="img-responsive" src="https://avatars.githubusercontent.com/u/70428861?v=4" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Abed Kafaween</h3>
                        </div> 
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                        <div class="team-img">
                            <img class="img-responsive" src="https://avatars.githubusercontent.com/u/71646355?v=4" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Deyaa Pozan</h3>
                        </div> 
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                        <div class="team-img">
                            <img class="img-responsive" src="https://avatars.githubusercontent.com/u/83532142?v=4" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Mohammad AbuKhalel</h3>
                        </div> 
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row text-center" style="margin-left:118px;" >
                <div class="col-md-3 col-sm-6 col-xs-12" style="width: 28%;">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="team-img">
                            <img class="img-responsive" src="https://avatars.githubusercontent.com/u/83520024?v=4" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Rawan Alazazi</h3>

                        </div>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" style="width: 28%;">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="team-img">
                            <img class="img-responsive" src="https://avatars.githubusercontent.com/u/82310572?v=4" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Adham Al Omari</h3>
                        </div>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" style="width: 28%;">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                        <div class="team-img">
                            <img class="img-responsive" src="https://avatars.githubusercontent.com/u/82310737?v=4" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Abrar algour</h3>

                        </div>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#our-team-->

    <section id="pricing">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Pricing</h2>
                <p class="wow fadeInDown">Today’s businesses want to buy services like they buy apps in the Apps Store.<br> We saw an opportunity to simplify our pricing and drive customer satisfaction through the roof.”</p>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        $45
                                    </span>
                                    <span class="duration">
                                        Car Servicing  
                                    </span>
                                </div>

                                <div class="plan-name">
                                    Basic
                                </div>
                            </li>
                            <li>General check-up</li>
                            <li>Teflon coating</li>
                            <li>Anti-Rust Coating</li>
                            <li>Rubbing & polishing</li>
                            <li>Seat dry-cleaning</li>
                            <li>Interior dry-cleaning</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="#">Get It Now!</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="200ms">
                        <ul class="pricing featured">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        $85
                                    </span>
                                    <span class="duration">
                                        Car Servicing 
                                    </span>
                                </div>

                                <div class="plan-name">
                                    Silver
                                </div>
                            </li>
                      <li>General check-up</li>
                            <li>Teflon coating</li>
                            <li>Anti-Rust Coating</li>
                            <li>Rubbing & polishing</li>
                            <li>Seat dry-cleaning</li>
                            <li>Interior dry-cleaning</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="#">Get It Now!</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="400ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        $125
                                    </span>
                                    <span class="duration">
                                        Car Servicing
                                    </span>
                                </div>

                                <div class="plan-name">
                                    Gold
                                </div>
                            </li>
                            <li>General check-up</li>
                            <li>Teflon coating</li>
                            <li>Anti-Rust Coating</li>
                            <li>Rubbing & polishing</li>
                            <li>Seat dry-cleaning</li>
                            <li>Interior dry-cleaning</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="#">Get It Now!</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="600ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        $185
                                    </span>
                                    <span class="duration">
                                        Car Servecing 
                                    </span>
                                </div>

                                <div class="plan-name">
                                    Dimond
                                </div>
                            </li>
                             <li>General check-up</li>
                            <li>Teflon coating</li>
                            <li>Anti-Rust Coating</li>
                            <li>Rubbing & polishing</li>
                            <li>Seat dry-cleaning</li>
                            <li>Interior dry-cleaning</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="#">Get It Now!</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#pricing-->


    <section id="contact-us">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Contact Us</h2>
                <p class="wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa <br> semper aliquam quis mattis quam.</p>
            </div>
        </div>
    </section><!--/#contact-us-->


    <section id="contact">
        
        <div class="container">
            <div class="container contact-info">
                <div class="row">
				  <div class="col-sm-4 col-md-4">
                        <div class="contact-form">
                            <h3>Workshop Address</h3>

                            <address>
                              <strong>Motor Car Servecing, Inc.</strong><br>
                              12345 NewYork, Street 125<br>
                              United States 94107<br>
                              <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
					</div></div>
                    <div class="col-sm-8 col-md-8">
                        <div class="contact-form">
                      
								  <!--NOTE: Update your email Id in "contact_me.php" file in order to receive emails from your contact form-->
        
		<form name="sentMessage" id="contactForm"  novalidate>
	       <h3>Contact Form</h3>
		 <div class="control-group">
                    <div class="controls">
			<input type="text" class="form-control" 
			   	   placeholder="Full Name" id="name" required
			           data-validation-required-message="Please enter your name" />
			  <p class="help-block"></p>
		   </div>
	         </div> 	
                <div class="control-group">
                  <div class="controls">
			<input type="email" class="form-control" placeholder="Email" 
			   	            id="email" required
			   		   data-validation-required-message="Please enter your email" />
		</div>
	    </div> 	
			  
               <div class="control-group">
                 <div class="controls">
				 <textarea rows="10" cols="100" class="form-control" 
                       placeholder="Message" id="message" required
		       data-validation-required-message="Please enter your message" minlength="5" 
                       data-validation-minlength-message="Min 5 characters" 
                        maxlength="999" style="resize:none"></textarea>
		</div>
               </div> 		 
	     <div id="success"> </div> <!-- For success/fail messages -->
	    <button type="submit" class="btn btn-primary pull-right">Send</button><br />
          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
   </section><!--/#bottom-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2021 Auto Care.
                </div>
                <div class="col-sm-6">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="/homeCss/js/jquery.js"></script>
    <script src="/homeCss/js/bootstrap.min.js"></script>
    <script src="/homeCss/js/mousescroll.js"></script>
    <script src="/homeCss/js/smoothscroll.js"></script>
    <script src="/homeCss/js/jquery.prettyPhoto.js"></script>
    <script src="/homeCss/js/jquery.isotope.min.js"></script>
    <script src="/homeCss/js/jquery.inview.min.js"></script>
    <script src="/homeCss/js/wow.min.js"></script>
 <script src="/homeCss/contact/jqBootstrapValidation.js"></script>
 <script src="/homeCss/contact/contact_me.js"></script>
    <script src="/homeCss/js/custom-scripts.js"></script>
    <script>
  window.watsonAssistantChatOptions = {
      integrationID: "0b3ad4c4-00ba-4761-829f-6c3d402d242b", // The ID of this integration.
      region: "eu-de", // The region your integration is hosted in.
      serviceInstanceID: "c701e581-59f1-4b36-8de9-99d0be1fce3d", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js"
    document.head.appendChild(t);
  });
</script>
</body>
</html>